<h3>NEW SUPPLIER</h3>

<form action="/suppliers" method="post">
Name:
<input type="text" name="name" required></input>
Address:
<input type="text" name="address"></input>
Phone:
<input type="text" name="telephone"></input>
E-mail:
<input type="text" name="email"></input><br>
<input type="submit" value="Create">
</form>
