<h1>NEW SUPPLIER</h1>

<form action="/suppliers" method="post">
Name:
<input type="text" name="name" required></input><br>
Address:<br>
<input type="text" name="address"></input><br>
Phone:<br>
<input type="text" name="telephone"></input><br>
E-mail:<br>
<input type="text" name="email"></input>
<input type="submit" value="Create">
</form>
