<h3>NEW SUPPLIER</h3>

<form action="/suppliers" method="post">
Name:
<input type="text" name="name" required></input><br>
Address:
<input type="text" name="address"></input><br>
Phone:
<input type="text" name="telephone"></input><br>
E-mail:
<input type="text" name="email"></input><br>
<input type="submit" value="Add Supplier">
</form>
