<h1>New Distillery</h1>
<form>
  Name:
  <input type="text" name="distillery_name"></input>
  Location:
  <select>
    <option value="lowland">Lowland</option>
    <option value="highlands">Highlands</option>
    <option value="islands">Islands</option>
    <option value="islay">Islay</option>
    <option value="speyside">Speyside</option>
    <option value="campbeltown">Campbeltown</option>
  </select>
  Established:
  <input type="text"></input>
  <input type="submit" value="Create">

</form>
