<h3>NEW DISTILLERY</h3>
<form action="/distilleries" method="post">
  Name:
  <input type="text" name="name"></input><br>
  Location:
  <input type="text" name="location"></input><br>
  Established:
  <input type="text" name="established"></input><br>
  <input type="submit" value="Add Distillery">

</form>
