<h1>NEW DISTILLERY</h1>
<form action="/distilleries" method="post">
  Name:
  <input type="text" name="name"></input>
  Location:
  <input type="text" name="location"></input>
  Established:
  <input type="text" name="established"></input>
  <input type="submit" value="Create">

</form>
