<h2>Stock still existing from <%=@distillery.name%></h2>
<% stock = @distillery.stock %>
<tr>
<% for stock_item in stock %>
<td>
    <p><a href="/stock/<%=stock_item.id%>"> <%=stock_item.name%> <%=stock_item.quantity%> bottles.</a></p>
  </td>
    <% end %>
</tr>
