<h1>NEW STOCK</h1>

<form>
  Name:
  <input type="text" name="stock_name"></input>
  Style:
  <select>
    <option value="light">Light</option>
    <option value="rich">Rich</option>
    <option value="smoky">Smoky</option>
    <option value="fruity">Fruity</option>
  </select>
  Quantity:
  <input type="text" name="quantity"></input>
  Minimum Stock:
  <input type="text" name="min_stock"></input>
  Maximum Stock:
  <input type="text" name="max_stock"></input>

  <input type="submit" value="Create">

</form>
