<h1>NEW STOCK</h1>

<form action="/stock" method="post">
  Name:
  <input type="text" name="name" required></input>
  Distillery:
  <select name="distillery_id">
    <% for distillery in Distillery.all %>
    <option value="<%=distillery.id%>"><%=distillery.name%></option>
    <% end %>
  </select>
  Style:
  <select name="style">
    <option value="light">Light</option>
    <option value="rich">Rich</option>
    <option value="smoky">Smoky</option>
    <option value="fruity">Fruity</option>
  </select>
  <br>
  Quantity:
  <input type="text" name="quantity" required></input>
  Minimum holding stock:
  <input type="text" name="low_level" required></input>
  Supplier:
  <select name="supplier_id">
    <% for supplier in Supplier.all %>
    <option value="<%=supplier.id%>"><%=supplier.name%></option>
    <% end %>
  </select>
  Cost (per bottle):
  <input type="text" name="cost_price" required></input>
  Selling Price (per bottle):
  <input type="text" name="sale_price" required></input>
  <br>
  <input type="submit" value="Create">

</form>
