
body{
  color: saddlebrown;
}
header{
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

main{
  font-family: 'Quattrocento Sans', sans-serif;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: midnightblue;
  border: 1px solid steelblue;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid steelblue;
}

li a {
  display: block;
  color: silver;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: steelblue;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
}

.content {
  text-align: center;
  align-content: center;
}
