
body{
  color: saddlebrown;
  background-color: navajowhite;
}
header{
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

main{
  font-family: 'Quattrocento Sans', sans-serif;
}

ul{
  list-style-type: none;
}

nav {
  display: list-item;
  padding: 0px;
  margin: 0px;
  background-color: tan;
}

a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
}

.content {
  text-align: center;
  align-content: center;
}
